.cta {
  text-align: center;

  &__text {
    color: $color-palette-1-primary;
  }

  &__button {
    margin-top: 15px;

    @include tablet-up {
      margin-top: 20px;
    }
  }

  &--secondary {
    border-color: $color-palette-1-secondary;
    color: $color-palette-1-secondary;
  }
}
