<div class="content grid grid--column grid--full-width">
  <div class="grid__container">
    <header class="content__header">
      <h2 class="content__title">
        Refund policy
      </h2>
    </header>

    <div class="grid grid--column grid--gutter grid--white">
      <div class="content__text grid__container">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
