<div id="content" class="wrapper__content">
  <section class="grid grid--grey grid--gutter grid--padding-bottom">
    <div class="grid__container">
      <div class="grid__item grid__item--100 grid__item--padding-top">
        <div class="card grid grid--full-height grid--horizontal-center">
          <div class="card__container grid__container">
            <div class="card__section card__section--center card__section--card-full card__section--vertical-padding-large card__section--column grid__item js-log-in">
              <h2 class="card__title">
                Activate your SPOKE account
              </h2>

              <p class="card__byline">
                It seems your account isn't activated yet.
              </p>

              <p class="card__byline">
                {% include 'snippet.svg.icon', type:'icon', class:'email' %}<br>
                <strong>Don't worry - we sent you an activation email. <br>Go ahead and check your email now.</strong>
              </p>

              <p class="card__section--center card__section--text">If you have received this email more than once please make sure you use the link in the most recent account activation email.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>