<div class="size-chart">
  <div class="size-chart__container">
    <div class="size-chart__wrapper">
      <header class="size-chart__header">
        <h2 class="size-chart__title">
          Size &amp; fit
          <span>for</span>
        </h2>

        <div class="size-chart__dropdown">
          <button class="size-chart__trigger">
            Polos
          </button>
          {% include 'size-chart-menu' with selected: 'polos' %}
        </div>
      </header>

      <h3 class="size-chart__subtitle">
        Men's polos size chart
      </h3>

      <div
        class="size-chart__toggle toggle"
        data-toggle="unit"
        data-toggle0="inches"
        data-toggle1="cm"
        data-toggle-value="1"
      >
        <p class="toggle__label">Inches</p>
        <button class="toggle__button" type="button"></button>
        <p class="toggle__label">CM</p>
      </div>

      <section class="size-chart__section" data-title="Men's polo size chart">
        <nav class="size-chart__tabs">
          <button
            class="size-chart__tab"
            type="button"
            data-selected
            data-sizes='{"columns":["S","M","M+","L","L+","XL","XXL"],"rows":[[47.0,50.0,51.5,53.0,54.5,56.0,59.0],[67.0,68.0,68.5,69.0,69.5,70.0,71.0],[70.0,71.0,71.5,72.0,72.5,73.0,74.0],[73.0,74.0,74.5,75.0,75.5,76.0,77.0],[20.9,21.4,21.6,21.9,22.2,22.4,22.9],[21.5,22.0,22.3,22.5,22.8,23.0,23.5],[22.2,22.7,22.9,23.2,23.5,23.7,24.2]]}'
          >
            <span class="button__content">
              Slim fit
            </span>
          </button>
          <button
            class="size-chart__tab"
            type="button"
            data-sizes='{"columns":["S","M","M+","L","L+","XL","XXL"],"rows":[[47.5,50.5,52.0,53.5,55.0,56.0,59.0],[65.5,65.5,67.0,67.5,68.0,68.5,69.5],[68.5,69.5,70.0,70.5,71.0,71.5,72.5],[71.5,72.5,73.0,73.5,74.0,74.5,75.5],[20.9,21.4,21.6,21.9,22.2,22.4,22.9],[21.5,22.0,22.3,22.5,22.8,23.0,23.5],[22.2,22.7,22.9,23.2,23.5,23.7,24.2]]}'
          >
            <span class="button__content">
              Straight fit
            </span>
          </button>
        </nav>

        <table class="size-chart__table">
          <tr class="size-chart__row">
            <th class="size-chart__cell" scope="row">
              Size
            </th>
            <th class="size-chart__cell" scope="col"></th>
            <th class="size-chart__cell" scope="col"></th>
            <th class="size-chart__cell" scope="col"></th>
            <th class="size-chart__cell" scope="col"></th>
            <th class="size-chart__cell" scope="col"></th>
            <th class="size-chart__cell" scope="col"></th>
            <th class="size-chart__cell" scope="col"></th>
          </tr>

          <tr class="size-chart__row">
            <th class="size-chart__cell" scope="row">
              Chest
            </th>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
          </tr>

          <tr class="size-chart__row">
            <th class="size-chart__cell" scope="row">
              CB Length <small>Short</small>
            </th>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
          </tr>
          <tr class="size-chart__row">
            <th class="size-chart__cell" scope="row">
              CB Length <small>Regular</small>
            </th>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
          </tr>
          <tr class="size-chart__row">
            <th class="size-chart__cell" scope="row">
              CB Length <small>Long</small>
            </th>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
          </tr>
          <tr class="size-chart__row">
            <th class="size-chart__cell" scope="row">
              Sleeve Length <small>Short</small>
            </th>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
          </tr>
          <tr class="size-chart__row">
            <th class="size-chart__cell" scope="row">
              Sleeve Length <small>Regular</small>
            </th>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
          </tr>
          <tr class="size-chart__row">
            <th class="size-chart__cell" scope="row">
              Sleeve Length <small>Long</small>
            </th>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
            <td class="size-chart__cell"></td>
          </tr>

        </table>

        <div class="size-chart__mobile">
          <h3 class="size-chart__mobile-title">
            Choose size
          </h3>

          <ul class="size-chart__options options">
            <li class="options__item">
              <button class="options__button" type="button"></button>
            </li>
            <li class="options__item">
              <button class="options__button" type="button"></button>
            </li>
            <li class="options__item">
              <button class="options__button" type="button" data-status="selected"></button>
            </li>
            <li class="options__item">
              <button class="options__button" type="button"></button>
            </li>
            <li class="options__item">
              <button class="options__button" type="button"></button>
            </li>
            <li class="options__item">
              <button class="options__button" type="button"></button>
            </li>
            <li class="options__item">
              <button class="options__button" type="button"></button>
            </li>
          </ul>

          <ul class="size-chart__lines">
            <li class="size-chart__line">
              Chest
              <span class="size-chart__detail"></span>
            </li>

            <li class="size-chart__line">
              CB Length <small>Short</small>
              <span class="size-chart__detail"></span>
            </li>
            <li class="size-chart__line">
              CB Length <small>Regular</small>
              <span class="size-chart__detail"></span>
            </li>
            <li class="size-chart__line">
              CB Length <small>Long</small>
              <span class="size-chart__detail"></span>
            </li>
            <li class="size-chart__line">
              Sleeve Length <small>Short</small>
              <span class="size-chart__detail"></span>
            </li>
            <li class="size-chart__line">
              Sleeve Length <small>Regular</small>
              <span class="size-chart__detail"></span>
            </li>
            <li class="size-chart__line">
              Sleeve Length <small>Long</small>
              <span class="size-chart__detail"></span>
            </li>
          </ul>
        </div>
      </section>

      <p class="size-chart__note">
        All measurements describe one side of the product, laid flat.
      </p>

      <a
        class="
          size-chart__close
          button--icon
          button--icon-only
          js-last-page
        "
        href="/"
      >
        <span class="button__icon">
          {% include 'snippet.svg.icon', type:'icon', class:'close' %}
        </span>
        <span class="button__content"></span>
      </a>
    </div>
  </div>
</div>

{% include 'how-sizing-works' %}
