<div class="grid grid--gutter grid--horizontal-center grid--white">
  <div class="grid__container">
    <form method="post" class="form form--feedback js-wufoo" novalidate>
      <div class="title title--center">
        <h1 class="title__title">
          We would love some feedback
        </h1>

        <p class="title__byline title__byline--small">
          We hope you love your SPOKEs - but we're on a mission to make the perfect pair, and for that we need your feedback. Fill out our short survey, and we'll send you a discount code to say thanks.
        </p>
      </div>

      <div class="form__container">
        <label for="email" class="form__label form__label--required">
          Your email address
        </label>

        <input id="email" name="Field20" type="email" class="form__input" placeholder="jamiefox@gmail.com" required />

        <p class="form__label form__label--required">
          Overall, how likely are you to recommend SPOKE to friends or family?
        </p>

        <div class="form__radios grid grid--horizontal-space-between">
          <div class="grid__container">
            <div class="form__radio">
              <input class="form__radio-input" id="recommend1" name="Field2" type="radio" value="1">
              <label class="form__radio-label" for="recommend1"><span class="form__radio-box"></span>1</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend2" name="Field2" type="radio" value="2">
              <label class="form__radio-label" for="recommend2"><span class="form__radio-box"></span>2</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend3" name="Field2" type="radio" value="3">
              <label class="form__radio-label" for="recommend3"><span class="form__radio-box"></span>3</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend4" name="Field2" type="radio" value="4">
              <label class="form__radio-label" for="recommend4"><span class="form__radio-box"></span>4</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend5" name="Field2" type="radio" value="5">
              <label class="form__radio-label" for="recommend5"><span class="form__radio-box"></span>5</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend6" name="Field2" type="radio" value="6">
              <label class="form__radio-label" for="recommend6"><span class="form__radio-box"></span>6</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend7" name="Field2" type="radio" value="7">
              <label class="form__radio-label" for="recommend7"><span class="form__radio-box"></span>7</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend8" name="Field2" type="radio" value="8">
              <label class="form__radio-label" for="recommend8"><span class="form__radio-box"></span>8</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend9" name="Field2" type="radio" value="9">
              <label class="form__radio-label" for="recommend9"><span class="form__radio-box"></span>9</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="recommend10" name="Field2" type="radio" value="10">
              <label class="form__radio-label" for="recommend10"><span class="form__radio-box"></span>10</label>
            </div>
          </div>
        </div>

        <p class="form__label form__label--required">
          How did you hear about us?
        </p>

        <div class="form__radios grid">
          <div class="grid__container">
            <div class="grid__item grid__item--50-tablet-up">
              <div class="form__radio">
                <input class="form__radio-input" id="hear1" name="Field22" type="radio" value="A Friend">
                <label class="form__radio-label" for="hear1"><span class="form__radio-box"></span>A friend</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear2" name="Field22" type="radio" value="Someone I follow">
                <label class="form__radio-label" for="hear2"><span class="form__radio-box"></span>Someone I follow</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear3" name="Field22" type="radio" value="An article online">
                <label class="form__radio-label" for="hear3"><span class="form__radio-box"></span>An article online</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear4" name="Field22" type="radio" value="A printed article in the press">
                <label class="form__radio-label" for="hear4"><span class="form__radio-box"></span>A printed article in the press</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear5" name="Field22" type="radio" value="A Billboard / ad on the tube">
                <label class="form__radio-label" for="hear5"><span class="form__radio-box"></span>A Billboard / ad on the tube</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear6" name="Field22" type="radio" value="A Podcast">
                <label class="form__radio-label" for="hear6"><span class="form__radio-box"></span>A Podcast</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear7" name="Field22" type="radio" value="A printed ad in magazine">
                <label class="form__radio-label" for="hear7"><span class="form__radio-box"></span>A printed ad in magazine</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear8" name="Field22" type="radio" value="Instagram">
                <label class="form__radio-label" for="hear8"><span class="form__radio-box"></span>Instagram</label>
              </div>
            </div>
            <div class="grid__item grid__item--50-tablet-up">
              <div class="form__radio">
                <input class="form__radio-input" id="hear10" name="Field22" type="radio" value="Facebook">
                <label class="form__radio-label" for="hear10"><span class="form__radio-box"></span>Facebook</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear11" name="Field22" type="radio" value="Twitter">
                <label class="form__radio-label" for="hear11"><span class="form__radio-box"></span>Twitter</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear12" name="Field22" type="radio" value="A catalogue in the post">
                <label class="form__radio-label" for="hear12"><span class="form__radio-box"></span>A catalogue in the post</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear13" name="Field22" type="radio" value="A flyer in a magazine / parcel">
                <label class="form__radio-label" for="hear13"><span class="form__radio-box"></span>A flyer in a magazine / parcel</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear14" name="Field22" type="radio" value="Google Search">
                <label class="form__radio-label" for="hear14"><span class="form__radio-box"></span>Google Search</label>
              </div>
              <div class="form__radio">
                <input class="form__radio-input" id="hear9" name="Field22" type="radio" value="Other">
                <label class="form__radio-label" for="hear9"><span class="form__radio-box"></span>Other</label>
              </div>
              <input id="other" name="Field22_other" type="text" class="form__input" />
            </div>
          </div>
        </div>

        <p class="form__label form__label--required">
          How would you rate the fit of your SPOKEs?
        </p>

        <div class="form__radios grid grid--horizontal-space-between">
          <div class="grid__container">
            <div class="form__radio">
              <input class="form__radio-input" id="fit1" name="Field7" type="radio" value="1">
              <label class="form__radio-label" for="fit1"><span class="form__radio-box"></span>1</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit2" name="Field7" type="radio" value="2">
              <label class="form__radio-label" for="fit2"><span class="form__radio-box"></span>2</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit3" name="Field7" type="radio" value="3">
              <label class="form__radio-label" for="fit3"><span class="form__radio-box"></span>3</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit4" name="Field7" type="radio" value="4">
              <label class="form__radio-label" for="fit4"><span class="form__radio-box"></span>4</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit5" name="Field7" type="radio" value="5">
              <label class="form__radio-label" for="fit5"><span class="form__radio-box"></span>5</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit6" name="Field7" type="radio" value="6">
              <label class="form__radio-label" for="fit6"><span class="form__radio-box"></span>6</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit7" name="Field7" type="radio" value="7">
              <label class="form__radio-label" for="fit7"><span class="form__radio-box"></span>7</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit8" name="Field7" type="radio" value="8">
              <label class="form__radio-label" for="fit8"><span class="form__radio-box"></span>8</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit9" name="Field7" type="radio" value="9">
              <label class="form__radio-label" for="fit9"><span class="form__radio-box"></span>9</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fit10" name="Field7" type="radio" value="10">
              <label class="form__radio-label" for="fit10"><span class="form__radio-box"></span>10</label>
            </div>
          </div>
        </div>

        <label for="improve" class="form__label">
          What specifically could we do to improve the fit for you?
        </label>

        <textarea id="improve" name="Field13" class="form__textarea"></textarea>

        <p class="form__label form__label--required">
          How would you rate the quality of the fabric and trim in your SPOKEs?
        </p>

        <div class="form__radios grid grid--horizontal-space-between">
          <div class="grid__container">
            <div class="form__radio">
              <input class="form__radio-input" id="fabric1" name="Field5" type="radio" value="1">
              <label class="form__radio-label" for="fabric1"><span class="form__radio-box"></span>1</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric2" name="Field5" type="radio" value="2">
              <label class="form__radio-label" for="fabric2"><span class="form__radio-box"></span>2</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric3" name="Field5" type="radio" value="3">
              <label class="form__radio-label" for="fabric3"><span class="form__radio-box"></span>3</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric4" name="Field5" type="radio" value="4">
              <label class="form__radio-label" for="fabric4"><span class="form__radio-box"></span>4</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric5" name="Field5" type="radio" value="5">
              <label class="form__radio-label" for="fabric5"><span class="form__radio-box"></span>5</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric6" name="Field5" type="radio" value="6">
              <label class="form__radio-label" for="fabric6"><span class="form__radio-box"></span>6</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric7" name="Field5" type="radio" value="7">
              <label class="form__radio-label" for="fabric7"><span class="form__radio-box"></span>7</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric8" name="Field5" type="radio" value="8">
              <label class="form__radio-label" for="fabric8"><span class="form__radio-box"></span>8</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric9" name="Field5" type="radio" value="9">
              <label class="form__radio-label" for="fabric9"><span class="form__radio-box"></span>9</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="fabric10" name="Field5" type="radio" value="10">
              <label class="form__radio-label" for="fabric10"><span class="form__radio-box"></span>10</label>
            </div>
          </div>
        </div>

        <p class="form__label form__label--required">
          How would you rate the quality of construction and finishing on your SPOKEs?
        </p>

        <div class="form__radios grid grid--horizontal-space-between">
          <div class="grid__container">
            <div class="form__radio">
              <input class="form__radio-input" id="construction1" name="Field16" type="radio" value="1">
              <label class="form__radio-label" for="construction1"><span class="form__radio-box"></span>1</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction2" name="Field16" type="radio" value="2">
              <label class="form__radio-label" for="construction2"><span class="form__radio-box"></span>2</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction3" name="Field16" type="radio" value="3">
              <label class="form__radio-label" for="construction3"><span class="form__radio-box"></span>3</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction4" name="Field16" type="radio" value="4">
              <label class="form__radio-label" for="construction4"><span class="form__radio-box"></span>4</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction5" name="Field16" type="radio" value="5">
              <label class="form__radio-label" for="construction5"><span class="form__radio-box"></span>5</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction6" name="Field16" type="radio" value="6">
              <label class="form__radio-label" for="construction6"><span class="form__radio-box"></span>6</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction7" name="Field16" type="radio" value="7">
              <label class="form__radio-label" for="construction7"><span class="form__radio-box"></span>7</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction8" name="Field16" type="radio" value="8">
              <label class="form__radio-label" for="construction8"><span class="form__radio-box"></span>8</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction9" name="Field16" type="radio" value="9">
              <label class="form__radio-label" for="construction9"><span class="form__radio-box"></span>9</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="construction10" name="Field16" type="radio" value="10">
              <label class="form__radio-label" for="construction10"><span class="form__radio-box"></span>10</label>
            </div>
          </div>
        </div>

        <p class="form__label form__label--required">
          How would you rate your online ordering experience?
        </p>

        <div class="form__radios grid grid--horizontal-space-between">
          <div class="grid__container">
            <div class="form__radio">
              <input class="form__radio-input" id="ordering1" name="Field8" type="radio" value="1">
              <label class="form__radio-label" for="ordering1"><span class="form__radio-box"></span>1</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering2" name="Field8" type="radio" value="2">
              <label class="form__radio-label" for="ordering2"><span class="form__radio-box"></span>2</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering3" name="Field8" type="radio" value="3">
              <label class="form__radio-label" for="ordering3"><span class="form__radio-box"></span>3</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering4" name="Field8" type="radio" value="4">
              <label class="form__radio-label" for="ordering4"><span class="form__radio-box"></span>4</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering5" name="Field8" type="radio" value="5">
              <label class="form__radio-label" for="ordering5"><span class="form__radio-box"></span>5</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering6" name="Field8" type="radio" value="6">
              <label class="form__radio-label" for="ordering6"><span class="form__radio-box"></span>6</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering7" name="Field8" type="radio" value="7">
              <label class="form__radio-label" for="ordering7"><span class="form__radio-box"></span>7</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering8" name="Field8" type="radio" value="8">
              <label class="form__radio-label" for="ordering8"><span class="form__radio-box"></span>8</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering9" name="Field8" type="radio" value="9">
              <label class="form__radio-label" for="ordering9"><span class="form__radio-box"></span>9</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="ordering10" name="Field8" type="radio" value="10">
              <label class="form__radio-label" for="ordering10"><span class="form__radio-box"></span>10</label>
            </div>
          </div>
        </div>

        <p class="form__label form__label--required">
          How would you rate our delivery and customer service since you bought your SPOKEs?
        </p>

        <div class="form__radios grid grid--horizontal-space-between">
          <div class="grid__container">
            <div class="form__radio">
              <input class="form__radio-input" id="delivery1" name="Field10" type="radio" value="1">
              <label class="form__radio-label" for="delivery1"><span class="form__radio-box"></span>1</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery2" name="Field10" type="radio" value="2">
              <label class="form__radio-label" for="delivery2"><span class="form__radio-box"></span>2</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery3" name="Field10" type="radio" value="3">
              <label class="form__radio-label" for="delivery3"><span class="form__radio-box"></span>3</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery4" name="Field10" type="radio" value="4">
              <label class="form__radio-label" for="delivery4"><span class="form__radio-box"></span>4</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery5" name="Field10" type="radio" value="5">
              <label class="form__radio-label" for="delivery5"><span class="form__radio-box"></span>5</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery6" name="Field10" type="radio" value="6">
              <label class="form__radio-label" for="delivery6"><span class="form__radio-box"></span>6</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery7" name="Field10" type="radio" value="7">
              <label class="form__radio-label" for="delivery7"><span class="form__radio-box"></span>7</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery8" name="Field10" type="radio" value="8">
              <label class="form__radio-label" for="delivery8"><span class="form__radio-box"></span>8</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery9" name="Field10" type="radio" value="9">
              <label class="form__radio-label" for="delivery9"><span class="form__radio-box"></span>9</label>
            </div>
            <div class="form__radio">
              <input class="form__radio-input" id="delivery10" name="Field10" type="radio" value="10">
              <label class="form__radio-label" for="delivery10"><span class="form__radio-box"></span>10</label>
            </div>
          </div>
        </div>

        <button
          type="submit"
          data-state="ready"
          data-loading-inspiration="http://codepen.io/designcouch/pen/vXrdjk"
          class="form__button button button--secondary button--large-padding"
        >
          <span class="button__content">Submit</span>
          {% include 'button-loading-junk' %}
        </button>
      </div>
    </form>
  </div>
</div>
