<div class="grid grid--gutter grid--horizontal-center grid--white">
  <div class="grid__container">
    <form method="post" class="form form--feedback js-catalog-unsubscribe" novalidate>
      <div class="title title--center">
        <h1 class="title__title">
          Unsubscribe from our catalogue
        </h1>

        <p class="title__byline title__byline--small">
          We're sorry to hear you no longer wish to receive our catalogue. <br />
          <br />
          Your details came from Epsilon Abacus, a separate company that works with many UK catalogue companies. To request that Epsilon Abacus removes your details from their database, please email them at nomail@epsilon.com, letting them know your full name and address. Alternatively, you can leave the same information on their helpline number, which is 020 8943 8049. They can then take the appropriate action to remove your name from their database.<br />
          <br />
          It's also worth mentioning that if you would like to opt out for all mail of this type you can use the form on the below site:<br />
          http://www.mpsonline.org.uk/mpsr/mps_choosetype.html<br />
          <br />
          Please fill in the form below and we'll make sure your address is suppressed from our catalogue in the future.
        </p>
      </div>

      <div class="form__container">

        <p class="form__label">
          What is your name?
        </p>

        <label for="Field54" class="form__label form__label--small form__label--required">
          First
        </label>
        <input name="Field54" type="text" class="form__input" required />

        <label for="Field55" class="form__label form__label--small form__label--required">
          Last
        </label>
        <input name="Field55" type="text" class="form__input" required />

        <label for="Field49" class="form__label form__label--small form__label--required">
          What is the first line of your address?
        </label>
        <input name="Field49" type="text" class="form__input" required />

        <label for="Field47" class="form__label form__label--small form__label--required">
          What is your postcode?
        </label>
        <input  name="Field47" type="text" class="form__input"required />

        <label for="Field50" class="form__label form__label--small ">
          Would you mind telling us why you no longer wish to receive our catalogue?
        </label>
        <textarea name="Field50" class="form__textarea"></textarea>

        <button
                type="submit"
                data-state="ready"
                data-loading-inspiration="http://codepen.io/designcouch/pen/vXrdjk"
                class="form__button button button--secondary button--larg-padding"
                data-analytics-click="Catalogue Unsubscribe"
                data-analytics-props='{"category": "Catalogue", "label": "completed"}'
        >
          <span class="button__content">Submit</span>
          {% include 'button-loading-junk' %}
        </button>
      </div>
    </form>
  </div>
</div>

