{% assign content = page.content | split: '|' %}

{% capture bg %}landing_page_image_{{ content[ 0 ] }}{% endcapture %}
{% capture bg_mobile %}landing_page_image_small_{{ content[ 0 ] }}{% endcapture %}

<section class="polo-referrals polo-referrals__hero hero-media video-player">

  <video
    class="js-video-player"
    id="js-video-player--send-referral"
    poster=""
    muted
    preload="metadata"
    data-posterd="https://cdn.shopify.com/s/files/1/0207/9406/files/hero_desktop-2-web.jpg?1167056826738068725"
    data-posterm="https://cdn.shopify.com/s/files/1/1490/8966/files/hero_mobile.jpg?11812993474956472297"
    data-srch="https://cdn.shopify.com/s/files/1/0207/9406/files/desktop-HD_1.mp4?17220158385583344120"
    data-srcl="https://cdn.shopify.com/s/files/1/1490/8966/files/mobile-420SD.mp4?17318650113087404128"
    data-srcwd="https://cdn.shopify.com/s/files/1/0207/9406/files/desktop-HD_1.webm?9102801849399214745"
    data-srcwm="https://cdn.shopify.com/s/files/1/1490/8966/files/mobile-420SD.webm?5940720964062679278"
  >
  </video>

</section>


<div id="content" class="wrapper__content">
  <div class="grid  grid--full-width grid--column">
    <div class="grid__container">

      <section class="
            polo-referrals
            polo-referrals--bg-colour
            polo-referrals__block
            grid
            grid--column
            grid--horizontal-center
            grid--full-width
          ">

        <div class="grid__container ">

          <h1
            class="polo-referrals__intro__title"
          >
                  <span class="polo-referrals__intro__title-text">
                    The Polo. Upgraded.
                  </span>
          </h1>

          <p class="byline">
            Summer’s coming. And we wanted a polo that really fit. So we made it ourselves. Cut from soft, luxurious pique cotton, in more than 30 sizes. Whether you are tall, short, slim or barrel chested - you’ll find a cut that truly fits.
          </p>

        </div>

      </section>

      <section
        class="
            polo-referrals
            polo-referrals--no-padding
            grid

            grid--horizontal-center
            grid--horizontal-center-tablet-up
            grid--full-width
          "
      >
        <div class="grid__container">

          <div class="polo-referrals__carousel grid grid--horizontal-start grid--nowrap"
               data-index="0"
               data-items="5"
               data-touch="true"
          >
            <ul class="polo-referrals__carousel__container grid__container">
              <li class="polo-referrals__carousel__item grid__item grid grid--column">
                <div class="grid__container">
                  <div class="item__number">01</div>
                  <div class="item__media">
                    <img src="https://cdn.shopify.com/s/files/1/1490/8966/files/Polo_Details_665x500px_01.jpg?18082319246783397693" alt="Polo">
                  </div>
                  <div class="item__content">
                    <h3 class="item-content__title">The Details</h3>We fine-tune the details obsessively.
                  </div>
                </div>

              </li>
              <li class="polo-referrals__carousel__item grid__item grid grid--column">
                <div class="grid__container">
                  <div class="item__number">02</div>
                  <div class="item__media">
                    <img src="https://cdn.shopify.com/s/files/1/1490/8966/files/collar.jpg?12379082186229108671" alt="Polo">
                  </div>
                  <div class="item__content">
                    <h3 class="item-content__title">The Collar</h3>A compact 1x1 rib knit, to sit flat and resist curling
                  </div>
                </div>
              </li>
              <li class="polo-referrals__carousel__item grid__item grid grid--column">
                <div class="grid__container">
                  <div class="item__number">03</div>
                  <div class="item__media">
                    <img src="https://cdn.shopify.com/s/files/1/1490/8966/files/sleeve.jpg?12379082186229108671" alt="Polo">
                  </div>
                  <div class="item__content">
                    <h3 class="item-content__title">The Sleeve</h3>Finishing mid-bicep. with a close cuff for a flattering fit
                  </div>
                </div>
              </li>
              <li class="polo-referrals__carousel__item grid__item grid grid--column">
                <div class="grid__container">
                  <div class="item__number">04</div>
                  <div class="item__media">
                    <img src="https://cdn.shopify.com/s/files/1/1490/8966/files/seams.jpg?12379082186229108671" alt="Polo">
                  </div>
                  <div class="item__content">
                    <h3 class="item-content__title">The Seams</h3>Split and bound side seams so the shirt moves easily and stays clear of pockets
                  </div>
                </div>
              </li>
              <li class="polo-referrals__carousel__item grid__item grid grid--column">
                <div class="grid__container">
                  <div class="item__number">05</div>
                  <div class="item__media">
                    <img src="https://cdn.shopify.com/s/files/1/1490/8966/files/fabric.jpg?12316451296243913777" alt="Polo">
                  </div>
                  <div class="item__content">
                    <h3 class="item-content__title">The Fabric</h3>24 gauge 2-ply pique jersey cotton, for strong wash recovery
                  </div>
                </div>
              </li>
              <li class="polo-referrals__carousel__item grid__item grid grid--column">
                <div class="grid__container">
                  <div class="item__number">06</div>
                  <div class="item__media">
                    <img src="https://cdn.shopify.com/s/files/1/1490/8966/files/buttons.jpg?12379082186229108671" alt="Polo">
                  </div>
                  <div class="item__content">
                    <h3 class="item-content__title">The Buttons</h3>Soft touch, rubberised buttons, mounted on a clean, simple two-button placket
                  </div>
                </div>
              </li>
            </ul>
            <ul class="polo-referrals__carousel__pagination pagination pagination--primary">

              {% for i in (0..5) %}
                <li class="pagination__item">
                  <button
                    class="pagination__button pagination__button--bg-white"
                    data-index="{{ i }}"
                    type="button"
                  >
                    {{ i }}
                  </button>
                </li>
              {% endfor %}

            </ul>

            <div class="polo-referrals__carousel__navigation">
              <button
                class="polo-referrals__previous
                    polo-referrals__button
                      button
                      js-button--to-disable
                      button--border
                      button--primary
                      button--curved
                      button--icon
                      button--icon-only"
                type="button"
                data-ignore="true"
              >
                    <span class="button__icon">
                      {% include 'snippet.svg.icon', type:'icon', class:'arrow-previous' %}
                    </span>
                <span class="button__content"></span>
              </button>
              <button
                class="polo-referrals__next
                    polo-referrals__button
                      button
                      js-button--to-disable
                      button--curved
                      button--border
                      button--primary
                      button--icon
                      button--icon-only"
                type="button"
                data-ignore="true"
              >
                    <span class="button__icon">
                      {% include 'snippet.svg.icon', type:'icon', class:'arrow-next' %}
                    </span>
                <span class="button__content"></span>
              </button>
            </div>


          </div>


        </div>
      </section><!-- end polo carousel -->

      <section class="
      polo-referrals
      grid
      grid--column
      grid--horizontal-center
      grid--border-top
      ">
        <div class="grid__container">
          <div class="grid__item">
            <div class="join-waiting-list">
              <h2>Be the first</h2>
              <p>Register now, and be among the first to get the Spoke Polo.</p>

              <a href="#intro" class="button button--primary button--large-padding button--small-padding js-tinyscroll"><div class="button__content">Join the waiting list</div></a>
            </div>
          </div>
        </div>
      </section>

      <!--<section
          class="
            polo-referrals
            polo-referrals--odd
            polo-referrals--footer
            grid
            grid--column
            grid--full-width
          "
      >
        <div class="polo-referrals__container grid__container">

          <div class="grid grid--full-width grid--horizontal-end">

            <div class="polo-referrals__wrapper">
              <div class="polo-referrals__content--float">
                <h3
                    class="polo-referrals__content__tiscriptse js-parallaxis"
                    data-step="2"
                    data-relative="true"
                    data-start="-250"
                    data-end="-63"
                    data-translatey-start="-100"
                    data-translatey-end="0"
                    data-opacity-start="0.5"
                    data-opacity-end="1"
                >
                <span class="polo-referrals__content__title-text">
                  The<br />
                  Making<br />
                  Of
                </span>
                </h3>

                <div class="polo-referrals__content__copy">
                </div>
              </div>
              <div class="polo-referrals__media polo-referrals__media--large">
                <img src="https://cdn.shopify.com/s/files/1/1490/8966/files/Polo_Annotated_2.jpg?1972903370614905198" alt="Polo">
              </div>



            </div>

          </div>

        </div>

      </section><!-- end polo video -->

    </div>
  </div>

</div>
