<section class="grid grid--grey grid--gutter grid--padding-bottom">
  <div class="grid__container">
    <div class="grid__item grid__item--100 grid__item--padding-top">
      <div class="card grid grid--full-height grid--horizontal-center">
        <div class="card__container grid__container">
          {% form 'recover_customer_password', class: 'form card__section card__section--center card__section--form-full card__section--vertical-padding-large card__section--column grid__item js-forgotten-password' %}
            {% for error in form.errors %}
              <span
                class="flash-msg"
                data-msg="Email address is a required field"
                data-type="error"
              >
              </span>
            {% endfor %}

            <h2 class="form__title">
              Send a password reset email
            </h2>

            <input
              class="form__input"
              name="email"
              placeholder="Email address"
              type="email"
              data-prefill="email"
            />

            <input
              name="permanentDomain"
              type="hidden"
              value="{{ shop.permanent_domain }}"
            />

            <button
              class="
                form__button
                button
                button--primary
                button--full-width
              "
              type="submit"
            >
              <span class="button__content">
                Send
              </span>
            </button>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>
