<section
  class="
    fit-finder__item
    fit-finder__item--start-page
    grid__item
    grid__item--100
    grid
    grid--gutter
    grid--column
    grid--horizontal-center
    grid--vertical-space-between
  "
>
  <div class="grid__container">
    <div class="fit-finder__header">
      {% include 'svg.illustration.trousers-15' %}

      <h2 class="fit-finder__title">
        Discover your perfect size in 60 seconds or less.
      </h2>

      <p class="fit-finder__byline">
        We ask a few simple questions, crunch the numbers and calculate a
        size recommendation. It's science.
      </p>
    </div>

    <div class="fit-finder__buttons fit-finder__buttons--no-back">
      <button
        class="
          fit-finder__next
          button
          button--primary
          button--large-padding
          button--full-width
        "
        type="button"
        data-analytics-click="Fit Finder Started"
        data-analytics-props='{"category": "Fit Finder"}'
      >
        <span class="button__content">
          Begin
        </span>
      </button>
    </div>
  </div>
</section>
