{% assign defaultWeight = 83.5 %}
{% if customer %}
  {% if customer.metafields.fitfinder.weight %}
    {% assign defaultWeight = customer.metafields.fitfinder.weight %}
  {% endif %}
{% endif %}

<section
  class="
    fit-finder__item
    grid__item
    grid__item--100
    grid
    grid--gutter
    grid--column
    grid--horizontal-center
    grid--vertical-space-between
    js-enable-buttons
  "
>
  <div class="grid__container">
    <div class="fit-finder__header">
      <h3 class="fit-finder__title-italic">
        Any idea of your current <span class="title--secondary">weight</span>?
      </h3>

      <!--<p class="fit-finder__byline">
        Swipe the toggle to set your weight.
      </p>-->

      <div
        class="swizzer"
        data-swizzer="weight"
        data-default="{{ defaultWeight }}"
        data-orientation="horizontal"
      >
        <div class="swizzer__control">
          <button
            class="
              fs-ignore-rage-clicks
              swizzer__arrow
              swizzer__arrow--previous
              swizzer__previous
              button
              button--tiny
              button--border
              button--curved
              button--icon
              button--icon-only
            "
            type="button"
          >
            <span class="button__icon  fs-ignore-rage-click">
              {% include 'snippet.svg.icon', type:'icon', class:'arrow-previous' %}
            </span>
            <span class="button__content"></span>
          </button>

          <div class="swizzer__value">
            <h3 class="swizzer__title"></h3>
            <p class="swizzer__byline"></p>
          </div>

          <button
            class="
              fs-ignore-rage-clicks
              swizzer__arrow
              swizzer__arrow--next
              swizzer__next
              button
              button--tiny
              button--border
              button--curved
              button--icon
              button--icon-only
            "
            type="button"
          >
            <span class="button__icon  fs-ignore-rage-click">
              {% include 'snippet.svg.icon', type:'icon', class:'arrow-next' %}
            </span>
            <span class="button__content"></span>
          </button>
        </div>

        <div class="swizzer__touch">
          <div class="swizzer__touch-wrapper fs-ignore-rage-clicks">
            <div class="swizzer__ruler-group fs-ignore-rage-clicks">
              <div class="swizzer__ruler fs-ignore-rage-clicks"></div>
            </div>
          </div>
        </div>

        <input
          class="swizzer__input"
          name="weight"
          type="hidden"
          min="49.9"
          max="120.2"
          required
        />
      </div>
    </div>

    <div class="fit-finder__buttons">
      <button
        class="
          fit-finder__next
          button
          button--secondary
          button--large-padding
          button--full-width
        "
        type="button"
        disabled
        data-analytics-click="Fit Finder Step Completed: Weight"
        data-analytics-props='{"category": "Fit Finder", "label": "weight", "step": "weight"}'
        data-analytics-dynamic-props='{"answer": "weight"}'
      >
        <span class="button__content">
          Next question
        </span>
      </button>

      <button
        class="fit-finder__previous"
        type="button"
        data-ignore="true"
      >
        {% include 'snippet.svg.icon', type:'icon', class:'arrow-previous' %}
        Back
      </button>
    </div>
  </div>
</section>
