<header class="header header--static">
  <div
    class="
      header__wrapper
      grid
      grid--gutter
      grid--vertical-center
      grid--horizontal-space-between
      grid--nowrap
    "
  >
    <div class="header__container grid__container">
      <div class="grid__item grid__item--50 grid grid--horizontal-start">
      </div>
      <a class="header__logo" href="/">
        {% include 'snippet.svg.logo', type:'logo', class:'spoke-logo' %}
      </a>
      <p class="header__cancel grid__item grid__item--50">
        <a class="header__cancel-link js-last-page" href="/">Cancel</a>
      </p>
    </div>
  </div>
</header>
